body {
    margin: 0;
    min-height: 100vh;
}

/********************* Header CSS ********************/

header .container  {
    display: flex;
    justify-content: space-evenly;
font-family: Arial;
font-style: italic;
font-size: 1.3rem;
    font-weight: bold;
    color: #fa961a;
}
header .container img {
    height: 13rem;
    width: 18rem;

}
header .container span {
    padding: 1rem;
    align-self: center;

}

/********************* Nav CSS ********************/

nav .container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #a0a1a3;
    color: white;
}
.firsList {
    display: flex;
    padding: 0;
    margin: auto;
    width: min-content;
    text-align: center;
    list-style: none;
    position: relative;
}
.firstElement{
    width: 15rem;
    text-align: center;


}
.firstElement a{
    line-height: 4rem;
    text-decoration: none;
    color: white;

}
.firstElement ul{
    width: 15rem;
    padding: 0;
    list-style: none;
    display: none;
    position: absolute;

}
.firstElement ul li{

    background-color: #a0a1a3;
}
.firstElement ul li a{


    line-height: 1.5rem;
    text-decoration: none;
}
.firstElement a:hover {
    color: #fa961a;
}
.firstElement:hover ul {
    display: block;
    box-shadow: 2px 2px 5px black;
}
.firstElement ul li:hover{
    color: #fa961a;
}
.burgerMenu {
    display: none;
    width: fit-content;
    text-align: center;
    border-radius: 10%;
}
.burgerMenu i {
    font-size: 2rem;
    cursor: pointer;
    color: black;
}
/********************* Main CSS ********************/

.mainContainer {
    width: 100%;
}

.mainContainer img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.mainContainer2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:5rem auto;
}
.article {
    width: 330px;
    margin: 30px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #a0a1a3;
  
}
.headArticle {
     background-color:#e68206;
     color: white;
}
.headArticle p{
    margin: 0;
    padding: 0.9rem;
}

.mainArticle img{
    width: 100%;
 
}
.footerArticle{
    margin: 1rem 0 1rem 0;
    background-color: #a0a1a3;
    margin: 0;
    padding: 0.7rem 0;

}
.footerArticle a{
    text-decoration: none;
    color:white;
    
}
.footerArticle a:hover{
    color:blue; 
}

/********************* Footer CSS ********************/


.footerContainer {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e68206;
}
.footerContainer div img {
    width: 12rem;
    height: 12rem;
    filter:invert(100%);
}
.footerContainer ul {
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    height: 7rem;
}
.footerContainer ul li{
    font-weight: bold;
}
.footerContainer ul li a{
    font-weight: normal;
    text-decoration: none;
    color: black;
}
.footerContainer ul li a:hover{
    color: blue;
}

@media screen and (max-width: 750px) {
    nav .container {
        padding: 0.5rem 0;
    }
    .firsList {
        display: none;
        flex-direction: column;
    }
    .firstElement a {
        line-height: 2rem;
    }
    
    .burgerMenu {
        display: block;
        margin: 0 1rem 0 auto;
    
      
    }
  
    
}