/*----------------INDEX.PHP--------------------*/
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #30336b;
  
   
    
   
}
aside {
    flex-basis: 15%;

    padding:3rem 0.2rem 0 0.2rem;
    text-align: center;
  
   
  
}
.logo {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 4rem;
}
aside h1 {
    color: white;
}

aside hr {
    margin: 2rem 0 2rem 0;
}
.asideList {
    list-style:none;
    padding: 0;
}
.asideList li {
    margin: 1rem auto;
    
}
.asideList li a{
    display: inline-block;
    width: 9rem;
    padding: 1rem;
    border: solid 1px black;
    border-radius: 0.5rem;
    background-color: orange;
    text-decoration: none;
    font-size: 1.2rem;
    
    
    
}
.asideList li a:hover{
    background-color: rgb(201, 133, 6);
    color: white;
}
.masterContainer {
    flex-basis: 85%;
}
header {
    display: flex;
    justify-content: space-between;
}


.breadcrumb {
    list-style: none;
    padding: 0;
}

.breadcrumb li {
    display: inline;
    font-size: 1.3rem;
}

.breadcrumb li+li::before {
    color: black;
    content:"/\00a0";
}


.breadcrumb li a {
    color: white;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: #0275d8;
    text-decoration: underline;
}

.btnDisc {
    height: max-content;
    padding: 0.5rem;
    margin: 0 1rem 0 0;
    border: solid 1px black;
    border-radius: 0.5rem;
    background-color: red;
    color: black;
    text-decoration: none;
    font-size: 1.2rem; 
    align-self: center;
    
}
.btnDisc:hover {
   

    background-color: rgb(201, 5, 5);
    color: white;
    
}
main {
    background-color: #5b60b8;
    padding: 3rem 0 0 0;
    height: 100%;
}

.mainList {
    list-style:none;
    padding: 0;
    display: flex;
    
}
.mainList a {
    margin: 0 1rem;
    padding: 1rem;
    border: solid 1px black;
    border-radius: 0.5rem;
    background-color: orange;
    text-decoration: none;
    font-size: 1.2rem;
    
}

.mainList li a:hover{
    background-color: rgb(201, 133, 6);
    color: white;
}
/*----------------SAISIE.PHP--------------------*/

.formSaisie {
    width: 25rem;
    margin: auto;
    text-align: center;
    background-color:#30336b;
    padding: 1rem;
    border-radius: 0.5rem;
    
}
.formSaisie h2 {
   color: white;
}

.formSaisie input, .formSaisie textarea, .formSaisie select {
    width: 20rem;
    padding: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5rem;
    margin:0.5rem 0 0.5rem 0;
    border:0;
}
#inputNumb {
    width: 11rem;
}

.formSaisie button {
    width: 6rem;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: orange;
    cursor: pointer;
    display: block;
    margin-left: auto;
   
}
.formSaisie button:hover{
    background-color: rgb(201, 133, 6);
}
/*----------------GESTION.PHP--------------------*/

.productContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#imgDisplay {
    display: none;
    height: 10rem;
    width: 15rem;
 
    position: absolute;

  
}
.product {
    width: fit-content;
    margin: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color:black;    
    
}

.col {
    width: 400px;
    text-align: center;
    border: solid 1px black;
    padding: 0.5rem;
    background-color: #12CBC4;
}
.col p {
    position: relative;
}
.col img {
    width: 300px;
    height: 200px;
}
.colAction {
    display: inline-block;
    width: 191px;
    text-align: center;
    border: solid 1px black;
    padding: 0.5rem;
    background-color: #12CBC4;
}

.marginGestion {
    margin-bottom: 5rem;
}

label {
    color: white;
    font-weight: bold;
}

.gallerie {
    width: 150px;
    height: 150px;
}
.fontIcone {
    font-size: 1.5rem;
}
/*----------------LOGIN.PHP--------------------*/

.formLogin {
    width: 20rem;
    
    margin: auto;
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #5b60b8;
    
}
.formLogin input{
    display: block;
    width: 18.4rem;
    padding: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5rem;
    margin:0.5rem auto;
    border:0;
    
}
.formLogin button{
  
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: orange;
    cursor: pointer;
    display: block;
    margin-left: auto;
    font-size: 1.2rem;
 
    
}
.formLogin button:hover{
    background-color: green;
    color: white;
    
}
.loginTitle {
    color: wheat;
}